body{
    font-family: 'PT Sans', sans-serif;
    overflow: hidden;
    position: relative;
    height: 100vh;
}

h1{
    color: #333;
    text-transform: uppercase;
    font-size: 3em;
    margin: 5px;
    position: relative;
    top: 50px;
    left: 10%;
    /* position: absolute;
    top: 50px;
    left: 10%; */
}

/* .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.row {
    width: 100%;
    text-align: center;
    margin-top: 180px;
}

.phone-wrapper{
    position: absolute; 
    left: 50%;
    z-index: 1;
}

.phone-wrapper a{
    color: #333;
}

.phone-wrapper-inner{
    position: relative; 
    left: -50%;
    top: -40px;
}

.phone-container{
    /* margin: 30px auto; */
    width: 490px;
    max-width: 355px;
    height: 100vh;
    padding: 100px 22px;
    background-color: #fff;
}

.chats{
    padding: 20px;
}

.bubble {
    display: inline-block;
    padding: 20px 30px;
    border-radius:15px;
    max-width: 200px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.bubble-me{
    background-color: #e8e8e8;
    text-align: left;
}

.me-wrapper{
    text-align: right;
}

.bubble-student{
    background-color: #3dc0f0;
    color: #fff;
}

.phone{
    position:absolute;
    z-index: 1;
    top: 0;
    left:0;
    width: 400px;
    padding-bottom: 50px;
}

.slideshow {
    height: 500px;
    max-width: 3200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slideshow>div {
    height: 500px;
    width: 6000px;
    background: url(../images/strip.jpg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.slideshow .mover-1 {
    animation: moveSlideshow 100s linear infinite;
}

.links{
    position: absolute;
    bottom: 100px;
    right: 23%;
}

.links a{
    text-decoration: underline;
    color: #333;
    font-size: 1.5em;
    display: block;
}

@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}

@media screen and (max-width: 400px) {
    h1{
        position: static;
        font-size: 1.5em;
        width:100%;
    }
    .phone, .slideshow{
        display:none;
    }
    .phone-container{
        padding: 0;
        margin: 0;
    }
   
}

@media screen and (max-width: 1670px) {
    body{
        overflow: auto;
   }
    h1 {
        position: static;
    }
    header{
        text-align: center;
    }
    .phone-wrapper-inner{
        top: 0; 
    }
    .links{
        display: none;

    }
}