 * {
            box-sizing: border-box;
        }

        body {
            background: #fff;
            -webkit-transition: background-color 500ms linear;
            -o-transition: background-color 500ms linear;
            transition: background-color 500ms linear;
        }

        .container {
            height: 90vh;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10vw;
        }

        .row {
            width: 100%;
            text-align: center;
        }

        .descriptor {
            font-family: 'Lobster', cursive;
            color: white;
            font-size: 10vw;
            cursor: pointer;
        }